:host {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #4682b4;
  width: 100%;
  height: 60px;
  padding: 0;
  color: #ffffff;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-self: start;
  width: 100%;
  height: 100%;
}

.nav-left h2 {
  margin-left: 20px;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-self: end;
  width: 100%;
  height: 100%;
}

h2 {
  margin-left: 10px;
}

.search-form input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  padding: 8px;
  font-size: 14px;
  height: 10px;
}

.search-form button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.search-form {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ddd;
  margin: 0 auto;
  border-radius: 50px;
  padding: 8px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 400px;
}

.btn-search {
  margin-left: 5px;
}
